<div
  class="h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right"
>
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    <span class="text-4xl"> 50 + </span>
    <br />

    <span>340.0</span>
  </div>
</div>
<div class="bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <calculator-button (onClick)="handleButtonClick($event)"> C </calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)"> +/- </calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)"> % </calculator-button>
    <calculator-button isCommand (onClick)="handleButtonClick($event)"> ÷ </calculator-button>
  </div>

  <div class="flex w-full">
    <calculator-button (onClick)="handleButtonClick($event)">7</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">8</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">9</calculator-button>
    <calculator-button isCommand (onClick)="handleButtonClick($event)">x</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button (onClick)="handleButtonClick($event)">4</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">5</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">6</calculator-button>
    <calculator-button isCommand (onClick)="handleButtonClick($event)">-</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button (onClick)="handleButtonClick($event)">1</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">2</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">3</calculator-button>
    <calculator-button isCommand (onClick)="handleButtonClick($event)">+</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button (onClick)="handleButtonClick($event)">0</calculator-button>
    <calculator-button (onClick)="handleButtonClick($event)">.</calculator-button>

    <calculator-button isCommand isDoubleSize (onClick)="handleButtonClick($event)"> = </calculator-button>
  </div>
</div>
